<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-padrao::head(titulo='Observações')" />

<body>

    <header th:replace="layout-padrao" />
    
    
    <center><h1 th:text="${mensagem}"></h1></center>

    <nav>
        <ul>
            <li>
                <a th:href="@{./cadastrar.html}">Cadastrar Nova Observação</a>
            </li>
            <li>
                <a th:href="@{./listar.html}">Listar Observações</a>
            </li>
        </ul>
    </nav>
    
</body>

</html>