<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-padrao::head(titulo='Cadastro de Projeto')" />

<body>

    <header th:replace="layout-padrao"/>
    
    
    <center><h1 th:text="${projeto}"></h1></center>

    <center><h1>Novo Projeto</h1></center>
    <form th:action="@{cadastrar.html}" method="post" th:object="${projeto}" >
        
        
        <div>
            <label>Observação</label>
            <input type="text" th:field="*{obs}"/>
            <strong th:if="${#fields.hasErrors('obs')}" th:erros="*{obs}"></strong>
        </div>
        <div>
            <label>Titulo</label>
            <input type="text" th:field="*{titulo}"/>
            <strong th:if="${#fields.hasErrors('titulo')}" th:erros="*{titulo}"></strong>

        </div>
        <div>
            <label>URL Perfil</label>
            <input type="text" th:field="*{urlPerfil}"/>
            <strong th:if="${#fields.hasErrors('urlPerfil')}" th:erros="*{urlPerfil}"></strong>

        </div>
        <div>
            <label>URL Repositorio</label>
            <input type="text" th:field="*{urlRepositorio}"/>
            <strong th:if="${#fields.hasErrors('urlRepositorio')}" th:erros="*{urlRepositorio}"></strong>
        </div>




        <div>
            <input type="submit"/>
        </div>
    </form>
    
</body>

</html>